<section class="porperty-databinding">
  <article>
    <h3>Interpolation/Interpolação</h3>
    <p>String renderizada por interpolação: {{ url }}</p>
    <p>Resultado de 1+1: {{ 1+1 }}</p>
    <p>Resultado de 1+1 não é: {{ 1+1+getValor() }}</p>
    <p>{{ cursoAngular && getCurtirCurso() }}</p>
  </article>
  <br>
  <article>
    <h3>Property Binding</h3>
    <img [src]="urlImagens">
   <!--<img src="{{ urlImagens }}">
    <img bind-src="urlImagens">-->
  </article>
  <br>
  <article>
    <h3>Class e Style binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>
      <div class="alert {{classe.value}}" role="alert">
        Texto Colorido!
      </div>
      <div class="alert" role="alert"
       [class.alert-success]="classe.value == 'alert-success'">Sucesso
      </div> 
      <div class="alert" role="alert"
      [class.alert-info]="classe.value == 'alert-info'">
        Info
      </div>
      <div class="alert" role="alert"
      [class.alert-warning]="classe.value == 'alert-warning'">
        Warning
      </div>
      <div class="alert" role="alert"
      [class.alert-danger]="classe.value == 'alert-danger'">
        Erro
      </div>
      <div class="alert alert-danger" role="alert"
      [style.display]="classe.value == 'alert-danger' ? 'block': 'none'">
        Esse texto somente aparece em caso de Erro.
      </div>
    </div>
  </article>
  <br>
  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="onClick()" class="btn btn-primary">Me clique!</button>
      <br><br>
      <input type="text" #campo
        (keyup)="onKeyup(campo.value)"
        (keyup.enter)="onSave(campo.value)"
        (blur)="onSave(campo.value)">
    </div>
    <div>
      <p>Conteúdo atual: {{conteudoAtual}}</p>
      <p>Conteúdo salvo: {{conteudoSalvo}}</p>
    </div>
    <div>
       <span
        (mouseover)="onMouseSpan()"
        (mouseout)="onMouseSpan()"
        [class.highlight]="isMouseOuver"
      >
        Passe o mouse sobre mim!</span>
    </div>
  </article>
 <app-meu-form></app-meu-form>
  
  <article>

    <h3>Input/Output properties</h3>
    <app-curso nome="Python para Zumbies"></app-curso>
    <app-curso [nome]="nomeCurso"></app-curso>
    <contador></contador>
  </article>
</section>
